name: Trigger Spotify Regression

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Regression Test
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.G_ACCESS_TOKEN }}
          repository: centervil/private-ops
          event-type: spotify-regression
          client-payload: >-
            {
              "ref": "${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}"
            }
